// Import page-specific CSS files here.
@import "home";

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card {
  width: 400px;
  height: 400px;
  padding: 2px;
}

.imgcontainer {
  height: 200px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgcontainer img {
  width: 100%;
}
