<ul>
  <% @flats.each do |flat| %>
    <li><%= link_to flat.name, flat_path(flat) %><% flat.address %><% flat.price_per_night %><% flat.number_of_guests %></li>
  <% end %>
</ul>

<%= link_to 'Add flat', new_flat_path %> |
